<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Usa Health systems</title>
</head>
<style>
   @import url(stylesheets/mapstyle.css);
</style>

<body>

<h1>USA Health Systems</h1>

<div id="chart"> </div>

</body>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="javascripts/ds.js"></script>
</html>