<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Health Parameters Comparison Tool</title>
</head>
<style>
   @import url(/stylesheets/mapstyle.css);
</style>
<body>

<h1>Health Parameters Comparison Tool</h1>
<input id="intro" type="button" value="About the Visualization" onclick="window.open('introduction.html')" />

<div id="chart" class="chart">
    <div class="tab">
    <button class="tablinks" onclick="transitionData(curSetX,lifeExpCode)">1</button>
    <button class="tablinks" onclick="transitionData(curSetX,infantCode)">2</button>
    <button class="tablinks" onclick="transitionData(curSetX,neonatalCode)">3</button>
    <button class="tablinks" onclick="transitionData(curSetX,outPocketCode)">4</button>
        <div id="title">
        </div>
    </div>
    <div id="svgchart">
        <div id="tooltip"></div>
    </div>
</div>

<div  id="controls" class="controls">
    <div id="slider" >
        Select Year
        <input type="range" min="2000" max="2015" value="2000" class="slider" id="yearSlider" oninput="drawData(this.value,curSetX,curSetY)">
    </div>
    <div id="messages"></div>
    Select Color legend
    <div id="legend" class="legends" >
        <select  onchange="updateLegend(this.value)">
            <option value="1">By Income</option>
            <option value="2">By Region</option>
        </select>
    </div>
    <div id="countryList">Select Countries to Follow
        <select  id="countrySelect" onchange="selectCountry(this.value)">

        </select>
        <button id="clearselection" onclick="clearCountySelection()">Clear Selections</button>
    </div>
</div>

<div id="divtext"></div>
</body>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="javascripts/ds.js"></script>
</html>