@import url(style.css?aea6f0a);



text {
    font: 10px sans-serif;
}

h1 {
    font-size: 50px;
}
#title {
    font-size: 40px;
    width: auto;
    text-align: center;
}

#tooltip {
    position: absolute;
    width: 120px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #000;
    pointer-events: none;
    display: none;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}

circle {
    fill: none;
    stroke-width: 2;
    pointer-events: fill;
}

.label {
    fill: black;
}



.message {
    font: 50px "Helvetica Neue";
    fill: black;
}

/*chart format*/
#chart {
    width: 80%;
    max-width: 1000px;
    background-color: #f7f7f7;
    float: left;
    margin: auto;
}
#divtext {
    font-size: 15px;
    float: left;
    width: 1000px;
}
/* Svg chart format*/
#svgchart {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #bcbabc;
    position: relative;

}

/*control format */
#controls {
    float: left;
    margin: auto;
    width: 20%;
    //height: 400px;
}

/*axis format */

.xaxis path, .axis line {
    fill: none ;
    stroke: #000;
    font-size: 50px;
    shape-rendering: crispEdges;
}

.yaxis path, .axis line {
    fill: none ;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*Slider format*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5a6aaf;;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5a6aaf;
    cursor: pointer;
}


/*Tabs format*/
.tab {
    overflow: hidden;
 //   background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    //border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

}
/*select format*/

